body {
    font-family: 'Playfair Display', serif;
}

.name {
    min-height: 80px;
}

.menu {
    min-height: 50px;
}

.name {
    display: flex;
}

h1 {
    font-size: 30px;
    margin: auto;
}

.menu {
    display: flex;
}

.menu-item {
    margin: auto;
}

.menu-item p {
    margin: 0;
}

.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.about-me {
    min-height: 60px;
}

.about-me p {
    font-size: 20px;
    margin-top: 20px;
}

.main-content img {
    width: 100%;
}

.main-content {
     margin-top: 4%;
}

.main-content p {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    
    .main-content img {
        width: 40%;
        float: left;
        margin-right: 20px;
    }

    .main-content p {
        margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) {
    
    .main-content img {
        width: 40%;
        float: left;
        margin-right: 20px;
    }

    .main-content p {
        margin-top: 0;
    }
  }

  