body {
    font-family: 'Playfair Display', serif;
}

.name {
    min-height: 80px;
}

.menu {
    min-height: 50px;
}

.name {
    display: flex;
}

h1 {
    font-size: 30px;
    margin: auto;
}

.menu {
    display: flex;
}

.menu-item {
    margin: auto;
}

.menu-item p {
    margin: 0;
}

.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.about-me {
    min-height: 60px;
}

.about-me p {
    font-size: 20px;
    margin-top: 20px;
}

.image img {
    width: 100%;
}

.text {
     margin-top: 4%;
}

.text p {
    margin-bottom: 0.5rem;
}